.section-hero {
  position: relative;
  background-color: #0F1035;
  @include triangle-before(#0F1035);
  .hero-header {
    position: absolute;
    width: 100%;
    .hero-logo {
      z-index: 2;
      img {
        width: 196px;
        max-width: 100%;
        height: auto;
        margin-left: 46px;
        @include media-breakpoint-down('sm') {
          width: 140px;
        }
      }
    }
    .btn {
      color: $white;
      margin-top: 30px;
      margin-right: 50px;
      width: 164px;
      .mail {
        display: block;
      }
      .cross {
        display: none;
      }
      .btn-inner {
        padding: 0 19px;
        background-color: #0F1035;
        &::before {
          border-bottom-color: #0F1035;
        }
        &::after {
          border-top-color: #0F1035;
        }
      }
      z-index: 1;
      @include media-breakpoint-down('sm') {
        text-align: left;
        margin-right: -100px;
        svg {
          width: 22px;
          height: 16px;
        }
      }
    }
  }
  .hero-video {
    position: relative;
    @include media-breakpoint-down('sm') {
      height: 497px;
    }
    video {
      @include media-breakpoint-up('md') {
        width: 100%;
        height: auto;
      }
      @include media-breakpoint-down('sm') {
        position: absolute;
        width: auto;
        height: 100%;
        margin: auto;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
}

.section-mission {
  background: url('./../images/hexagon-little.png') no-repeat;
  background: cover;
  position: relative;
  @include triangle-before($white);
  @include triangle-after($white);
}

.section-getting {
  background-color: #0F1035;
  position: relative;
  @include triangle-before(#0F1035);
  @include triangle-after(#0F1035);
  .row {
    overflow: hidden;
  }
  .getting-video {
    video {
      width: 100%;
      height: auto;
      @include media-breakpoint-down('xs') {
        margin-top: $spacer * 5;
        margin-bottom: $spacer * 2;
        transform: scale(1.7);
      }
    }
  }
  .container {
    @include media-breakpoint-up('lg') {
      margin-left: auto;
      margin-right: 0;
      $breakpoint-width: map-get($grid-breakpoints, 'lg');
      $container-max-width: map-get($container-max-widths, 'lg');
      max-width: calc(#{$container-max-width} + (100vw - #{$breakpoint-width}) / 2);
    }
    @include media-breakpoint-up('xl') {
      margin-left: auto;
      margin-right: 0;
      $breakpoint-width: map-get($grid-breakpoints, 'xl');
      $container-max-width: map-get($container-max-widths, 'xl');
      max-width: calc(#{$container-max-width} + (100vw - #{$breakpoint-width}) / 2);
    }
  }
}

.section-services {
  background: url('./../images/hexagon-grid.png') repeat;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -35px;
    right: 0;
    border-top: 35px solid transparent;
    border-right: 35px solid $white;
    z-index: 2;
  }
  .large-icon {
    p {
      font-weight: $font-weight-medium;
      @include media-breakpoint-down('sm') {
        font-size: 14px;
      }
    }
    div {
      width: 111px;
      height: 122px;
      @include media-breakpoint-down('sm') {
        margin: 0 20px 0 20px;
        width: 56px;
        height: 61px;
      }
    }
  }
  .end-icon {
    margin-top: -30px;
    @include media-breakpoint-down('md') {
      margin-top: 0;
    }
  }
  i {
    svg {
      width: 14px;
      height: 16px;
    }
  }
}

.section-founders {
  .photo {
    width: 235px;
    height: auto;
    max-width: 100%;
    clip-path: polygon(20% 0, 100% 0, 100% 20%, 100% 80%, 80% 100%, 0 100%, 0% 80%, 0% 20%);
  }
  svg {
    width: 14px;
    height: 16px;
  }
}

.section-connection {
  position: relative;
  background-color: $secondary;
  background-image: url('../images/connected-tile.png');
  background-repeat: repeat;
  background-position: center;
  background-size: auto 163px;
  
  @include triangle-before($secondary);
  @include triangle-after($secondary);
  
  .btn {
    width: 100%;
    max-width: 358px;
  }
}

